.tool-desc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 350px; */
  width: 100%;
  border-radius: 1px solid blue;
  margin-bottom: 5px;
  font-size: 1.3vw;
}

.tool-desc-container img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  /* scale: 1.5; */
}

.tool-desc-container p span {
  font-weight: 600;
}

@media (max-width: 768px) {
  .tool-desc-container {
    font-size: 2.2vw;
  }
}