.tool-desc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 350px; */
  width: 100%;
  border-radius: 1px solid blue;
  margin-bottom: 50px;
}

.tool-desc-container img {
  border-radius: 50%;
  scale: 1.5;
}