.second-section h2 {
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 60px;
}

.second-section .tools-info :nth-child(even) {
  flex-direction: row-reverse;
}

.second-section .tools-info {
  margin: 10px 250px;
}