.second-section {
  margin-top: 12vw;
}

.second-section .poetry-analyzer-tools h2 {
  text-align: center;
  font-size: 3vw;
  font-weight: 400;
}

.second-section .tools-info :nth-child(even) {
  flex-direction: row-reverse;
}

.second-section .tools-info {
  margin: 2vw 15vw;
  background-image: url(../../assets/wordCloud.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 768px) {
  .second-section .tools-info {
    margin: 10vw 10vw;
  }

  .second-section .poetry-analyzer-tools h2 {
    font-size: 5vw;
  }
}