@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.title {
  margin: 2px;
  /* padding-left: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 100%; */
  height: 20vh;
  width: 65%;
  /* width: 100%; */
  /* border: 2px solid blue; */
  /* font-size: 699px; */
  /* transform: scale(1vw); */
  /* max-height: 200px; */
}

.centre {
  display: flex;
  align-items: center;
  font-size: max(3.2vw, 24px);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 10px; */

}

.dept {
  font-size: max(1.25vw, 16px);
  /* padding: 0px 0px 0px 14.3rem; */
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chota_title {
  font-size: max(1.06vw, 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0px 0px 0px 20rem; */
}

.BIT {
  font-size: 1.5vw;
  /* padding: 0px 0px 0px 15.4rem; */
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pin {
  font-size: 1.06vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0px 0px 0px 21rem; */
}

/* 
.title {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.tagline {
  font-family: "Dancing Script";
  /* text-align: right; */
  font-weight: bold;
  display: flex;
  align-items: center;
  /* margin-top: -5px; */
  justify-content: end;
  font-size: max(1.4vw, 14px);
  /* border: 1px solid green; */
  width: 94%;
  height: 25%;
  color: crimson;
}

.headers-footer {
  margin-top: -25px;
}

/* 
@media (max-width:1200px) {
  .title .centre {
    font-size: 40px;
  }
} */