
.title {
  margin: 2px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  
}
.centre{
  font-size: 55px;
  font-weight: 600;
  padding-left: 10px;
  
}
.dept{
  font-size: 30px;
  padding: 0px 0px 0px 110px;
  
  
}
