.navbar {
  margin: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: black;
  color: white;
  height: 7vh;
}

.navbar ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

.navbar ul li {
  display: inline;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 20px;
  cursor: pointer;
}

.navbar ul li:hover {
  color: aquamarine;
  transition: all 0.3s ease-in-out;
  /* font-weight: 700; */
}

.navbar .search-box {
  display: flex;
  align-items: center;
  background: #ffffff;
  /* padding: 0.4rem; */
  margin: 0.4rem;
  border: solid;
  border-radius: 2rem;
  width: 10rem;
  margin-right: 1%;

}

.navbar .search-box input {
  padding: 0.1%;
  background: transparent;
  border: 0;
  outline: 0;
  color: #000;
  font-size: 13px;
  max-width: 100px;
  font-weight: 600;

}

.navbar .search-box input::placeholder {
  color: #000;
}

.navbar .search_icon {
  margin-left: 0rem;
  width: 1.2rem;
  height: 1rem;
}