.navbar {
  margin: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  background-color: rgb(0, 0, 0);
  color: white;
  height: 4vh;
  font-size: 1.05rem;
}

.navbar ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

.navbar ul li {
  display: inline;
  /* font-size: 1.05rem; */
  font-weight: 600;
  margin: 1rem 1.3rem;
  cursor: pointer;
}

.navbar ul li:hover {
  color: aquamarine;
  transition: all 0.3s ease-in-out;
  /* font-weight: 700; */
}

.navbar .search-box {
  display: flex;
  align-items: center;
  background: #ffffff;
  /* padding: 0.4rem; */
  margin: 0.4rem;
  border: solid;
  border-radius: 2rem;
  width: 10rem;
  margin-right: 1%;

}

.navbar .search-box input {
  padding: 0.1%;
  background: transparent;
  border: 0;
  outline: 0;
  color: #000;
  font-size: 13px;
  max-width: 100px;
  font-weight: 600;

}

.navbar .search-box input::placeholder {
  color: #000;
}

.navbar .search_icon {
  margin-left: 0rem;
  width: 1.2rem;
  height: 1rem;
}

.navbar-profile {
  position: relative;
}

.navbar-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}

.navbar-profile:hover .navbar-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
}

.navbar-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-profile-dropdown img {
  width: 20px;
}

.navbar-profile-dropdown li:hover {
  color: tomato;
}