.student-body-container .row {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(127, 255, 212, 0.4); */
}

.row :nth-child(1) {
  /* background-color: aquamarine; */
}

.student-body-container {
  /* background-color: aquamarine; */
}