.testimonials-container {
  margin: 10px 300px;
  /* background-color: lightblue; */
  /* width: 100%; */
}

.testimonials {
  /* border: 5px solid purple; */
}

.testimonials-container h2 {
  font-size: 45px;
  text-align: center;
  margin-top: 40px;
}

.testimonials {
  width: 100%;
  margin-top: 100px;
  /* background-color: #FFE6EF; */
  /* Lighter Pink */
  /* box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1), -10px -10px 30px rgba(255, 255, 255, 0.7); */
}

@media (max-width: 1200px) {
  .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .testimonials-container {
    width: 80vw;
  }
}