.faculty-profile {
  display: flex;
  flex-direction: column;
  /* background: aquamarine; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 15px;
  transition: 0.3s;
  border-radius: 20px;
  transform: scale(85%);
  max-width: 25vw;
  max-height: 75vh;
}

.faculty-profile:hover {
  /* background: hsla(160, 100%, 75%, 1);
  background: linear-gradient(135deg, hsla(160, 100%, 75%, 1) 0%, hsla(190, 53%, 56%, 1) 67%);
  background: -moz-linear-gradient(135deg, hsla(160, 100%, 75%, 1) 0%, hsla(190, 53%, 56%, 1) 67%);
  background: -webkit-linear-gradient(135deg, hsla(160, 100%, 75%, 1) 0%, hsla(190, 53%, 56%, 1) 67%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7FFFD4", endColorstr="#54B6CA", GradientType=1); */
  background: linear-gradient(145deg, #6ff2be, #B5FFFC 50%, #FFFFFF 100%);
  box-shadow: 20px 20px 60px #d1d1d1, -20px -20px 60px #ffffff;
  transform: scale(0.90);
  transition: 0.2s ease-in;
}

.faculty-profile img {
  height: 15rem;
  border-radius: 50%;
}

.faculty-profile h4 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 23px;
}

.faculty-profile p {
  font-size: 16px;
}

.branch {
  margin-bottom: 10px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}


.email:hover {
  transform: scale(1.15);
}

.icons svg {
  margin: 0 5px;
}

.faculty-profile .branch {
  white-space: pre-wrap;
}

.faculty-profile .college {
  margin-bottom: 10px;
}