@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
  font-family: Outfit;

}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}